<header>
  <div layout="row" class="top-nav ac-default-theme">
    <a href="https://github.com/1337programming/angular2.0-App">
      <img src="angularjs-logo_patrick.png" alt="AngularP" height="54" width="54">
      <img src="angularjs-logo_tom.png" alt="AngularP" height="54" width="54">
    </a>
      <span class="logo">{{ name | capitalize }} + Patrick + Webpack</span>
    <ul class="nav nav-tabs">
      <li class="l-left">
        <a [router-link]=" ['/home'] "class="top-nav-button ac-default-theme">Home</a>
      </li>
      <li class="l-left">
        <a [router-link]=" ['/dashboard'] "class="top-nav-button ac-default-theme">Dashboard</a>
      </li>
      <li class="l-left">
        <a [router-link]=" ['/example-modules', 'search'] "class="top-nav-button ac-default-theme">Modules</a>
      </li>
      <li class="l-left">
        <img src="angular-shield.png" alt="Angular2" height="54" width="54">
      </li>
      <li class="l-left">
        <img src="webpack.png" alt="Webpack" height="54" width="54">
      </li>
    </ul>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
</footer>
