<header>
  <div layout="row" class="top-nav ac-default-theme">
    <img src="angular-shield.png" alt="Angular2" height="54" width="54">
    <span class="logo">{{ name | capitalize }} + Patrcik + Webpack</span>
    <ul>
      <li class="l-left">
        <a [router-link]=" ['/home'] "class="top-nav-button ac-default-theme">Home</a>
      </li>
      <li class="l-left">
        <a [router-link]=" ['/dashboard'] "class="top-nav-button ac-default-theme">Dashboard</a>
      </li>
      <li class="l-left">
        <a [router-link]=" ['/example-modules', 'search'] "class="top-nav-button ac-default-theme">Example Modules</a>
      </li>
    </ul>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
</footer>