<div>
  <div class="well">
    <h3>TypeScript File Structure</h3>
    <div>
      <ul>
        <li>Component:
          <ul>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>directives/</li>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>services/</li>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>styles/</li>
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>views/</li>
            <li>model.ts</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
