<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1>Angular 2.0 App <small>by Patrick Opie and Tom Manion</small></h1>
    </div>
    <p>This app serves as an example of using angular 2.0 with webpack. All the modules you see are written in TypeScript.
    Check out our repo to learn more!</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/1337programming/angular2.0-App" role="button">Learn more</a></p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" width="64" height="64" src="http://res.cloudinary.com/buddahbelly/image/upload/v1423072364/brilliantbritz/angular-js.png" alt="Angular">
    </a>
  </div>
  <div class="media-left">
    <a href="#">
      <img class="media-object" width="64" height="64" src="https://reactweek.com/images/webpack.png" alt="Webpack">
    </a>
  </div>
  <div class="media-left">
    <a href="#">
      <img class="media-object" width="64" height="64" src="http://brunch.io/images/others/gulp.png" alt="Gulp">
    </a>
  </div>
  <div class="media-left">
    <a href="#">
      <img class="media-object" width="64" height="64" src="https://pbs.twimg.com/profile_images/2660272602/87a5a0fdc86455c3f94b0b0eebfdb1b9_400x400.png" alt="TypeScript">
    </a>
  </div>
</div>
